.form{
    border: 2px solid black;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius : 10px;
    background-color: rgba(0,0,0, 0.2);
}

.form div input{
    border: 2px solid rgba(0,0,0, 0.5);
    border-radius: 5px;
    padding: 8px;
    margin : 5px 5px;
    outline: none;
}

.form button{
    background-color: rgb(18, 114, 240);
    border: 2px solid rgb(18, 114, 240);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: medium;
    color: white;
    
}
